body {
    background-color: #e6e5e7 ;
    max-width: 200px;
   
}

.bodyText {
  color: white;
  margin-bottom: -22px;
  margin-top: 50px;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: lighter;
  text-align: left;
}

.pagecontainer {
    display: grid;
}

  

h1{

    color: rgb(8, 7, 7);
    font-family: 'Poppins', ;
    font-size: 40px;
    margin-top: 0px;
    font-weight: bold;
}

h2{

    color: rgb(49, 6, 40);
    margin-top: -20px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif ;
}

h3{
    color: #403568;
    margin-top: 25px;
    font-family: 'Poppins', sans-serif ;
}

p{font-family: 'Poppins', sans-serif;
color: rgb(63, 25, 25);
}



.chart{
    width: auto;
    
    position:static;
    border-width: 1px;
    background-color: white;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(20, 19, 19);
    margin: 5% 10;
    


}




