@import url("https://fonts.googleapis.com/css2?family=Poppinswght@300&family=Poppins:wght@600");

body {
    background-color: #ece8f0 ;
    max-width: 20%;
    margin: auto;
}

.bodyText {
  color: white;
  margin-bottom: -22px;
  margin-top: 50px;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: lighter;
  text-align: left;
}

.pagecontainer {
    display: grid;
}

  

h1{

    color: rgb(8, 7, 7);
    font-family: 'Poppins', ;
    font-size: 40px;
    margin-top: 10px;
    margin-left: 30%;
    font-weight: bold;
}

h2{

    color: rgb(74, 19, 85);
    margin-left: 30%;
    font-family: 'Poppins', sans-serif ;
}

h3{
    color: #f445f4;
    margin-left: 30%;
    font-family: 'Poppins', sans-serif ;
}

p{font-family: 'Poppins', sans-serif;
color: rgb(63, 25, 25);
}



.chart{
    width: 450px;
    position: relative;
    border-width: 1px;
    background-color: white;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(20, 19, 19);
    margin: 25px 50px 20px 10px;
    margin-left: 30%;


}

.bcontainer {
    display: table;
    box-align: center;;
    flex-wrap: wrap;
    gap: 30px 30px;
    margin-top: 20px;
    margin-left: 30%;
    border-style: solid;
    border-color: rgb(37, 34, 34);
    padding: 10px;
    border-radius: 25px;
  }


