@import url("https://fonts.googleapis.com/css2?family=Poppinswght@300&family=Poppins:wght@600");

body{

    background-color: #bcddd6 ;
    max-width: 30%;
    margin: auto;
}

h1{

    color: rgb(14, 0, 0);
    font-family: 'Nunito', sans-serif ;
}

h2{

    color: rgb(74, 19, 85);
    font-family: 'Nunito', sans-serif ;
}

h3{
    color: #f445f4;
    font-family: 'Nunito', sans-serif ;
}

p{font-family: 'Nunito', sans-serif;
color: rgb(63, 25, 25);
}



.chart{
    width: 450px;
    position: relative;
    border-width: 10px;
    background-color: white;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
    margin: 25px 50px 20px 10px;


}

.bcontainer {
    display: table;
    flex-flow: row-reverse nowrap;
    justify-content: center;;
    gap: 30px 30px;
    margin-top: 30px;
    border-style: solid;
    border-color: rgb(37, 34, 34);
    padding: 20px;
    border-radius: 25px;
  }





