.bodyText {
color: white;
margin-bottom: 22px;
margin-top: 50px;
font-family: 'Raleway', sans-serif;
font-size: 30px;
font-weight: lighter;
text-align: center;
padding: 0 ;
}

.pagecontainer {
  display: grid;
}



h1{

  color: rgb(8, 7, 7);
  font-family: 'Raleway', sans-serif;
  font-size: 60px !important;
  margin-top: 0px;
  font-weight: bold;
}

h2{

  color: rgb(59, 60, 61);
  margin-top: -20px !important;
  font-size: 18px !important;
  font-family: 'Raleway', sans-serif !important;
}

h3{
  color: #403568;
  margin-top: 25px;
 font-family: 'Raleway', sans-serif;
}

p{font-family: 'Raleway', sans-serif;

color: rgb(63, 25, 25);
}



.chart{
 width: auto;
  position:static;
  border-width: 1px;
  background-color: white;
  border-style: solid;
  border-radius: 15px;
  border-color: rgb(20, 19, 19);
  margin: 1% 1% 1% 1%;;
  text-align: center;
 padding: 10px;
  
  /*5px 50px 25px 200px*/

}

.chart:hover {
  transform: scale(1.04, 1.04);
  transition: 0.6s;
  
}

p {
	font-size: 16px;
	margin: 5px 5px;
	line-height: 22.4px;
	color: #323232; 
}


body {
  background-color: rgb(250, 243, 250);;
 }


a:link {
  color: #2d1247;
}

a:visited {
  color: #2d1247;
  background-color: rgb(141, 22, 131);
}

a:hover {
  text-decoration: none;
  opacity:1;
  background-color: rgb(141, 22, 131);
  border-color: rgb(248, 244, 248);
}


body {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	max-width: 1800px; 
	margin: 0 auto 0 auto !important;
	padding: 0 5 0 5; 
	float: none !important; 
}

.button, .buttonActive {
  border: 2px solid rgb(187, 39, 180);
  color: rgb(116, 18, 99);
  font-family: 'Raleway', sans-serif;
  line-height: 16px;
  font-weight: 600;
  border-radius: 350px;
  box-sizing: content-box;
  align-items: flex-start;
  display: inline-block;
  font-size: 18px; 
  margin: 1px 2px 1px 2px;
  text-decoration: none;
  max-width: 100px;
  outline-offset: 2px;
  overflow: hidden;
  padding: 5px 12px;
  text-align: center;
  text-overflow: ellipsis;
  transition: border-color,background-color .3s ease;
 }

.buttonActive {
	color: #2d1247;
	color: rgb(253, 249, 252) !important;
  background-color: rgb(141, 22, 131) !important;
}

@-webkit-keyframes edit {
  0% {
    -webkit-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }

  8% {
    -webkit-transform: rotate(12deg);
    transform: rotate(12deg);
  }

  10% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  18% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  20% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  28% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  30% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  38% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  40% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  48% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  50% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  58% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  60% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  68% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  75% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes edit {
  0% {
    -webkit-transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }

  8% {
    -webkit-transform: rotate(12deg);
    -ms-transform: rotate(12deg);
    transform: rotate(12deg);
  }

  10% {
    -webkit-transform: rotate(24deg);
    -ms-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  18% {
    -webkit-transform: rotate(-24deg);
    -ms-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  20% {
    -webkit-transform: rotate(-24deg);
    -ms-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  28% {
    -webkit-transform: rotate(24deg);
    -ms-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  30% {
    -webkit-transform: rotate(24deg);
    -ms-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  38% {
    -webkit-transform: rotate(-24deg);
    -ms-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  40% {
    -webkit-transform: rotate(-24deg);
    -ms-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  48% {
    -webkit-transform: rotate(24deg);
    -ms-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  50% {
    -webkit-transform: rotate(24deg);
    -ms-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  58% {
    -webkit-transform: rotate(-24deg);
    -ms-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  60% {
    -webkit-transform: rotate(-24deg);
    -ms-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  68% {
    -webkit-transform: rotate(24deg);
    -ms-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  75% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.faa-edit.animated,
.faa-edit.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-edit {
  -webkit-animation: edit 5s ease infinite;
  animation: edit 5s ease infinite;
}

.faa-github.animated,
.faa-github.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-github {
  -webkit-animation: edit 5s ease infinite;
  animation: edit 5s ease infinite;
}

.faa-book.animated,
.faa-book.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-book {
  -webkit-animation: edit 5s ease infinite;
  animation: edit 5s ease infinite;
}




